.nav{
    width: 85%;
    height: 20%;
    margin-left: 7%;
    padding: 1%;
    display: flex;
}
.buttons{
    width: 32%;
    height: 100%;
    margin-top: 2.5%;
    display: flex;
    margin-left: 30%;
}
.items{
    text-decoration: none;
    color: black;
    margin-left: 13%;
    font-size: 120%;
}
.items:hover{
    color: #a8d741;
}
.icons{
    width: 13%;
    height: 100%;
    margin-top: 2.5%;
    display: flex;
    font-size: 150%;
}
.icon{
    margin-left: 18%;
}
.bntn{
    width: 14%;
    height: 100%;
    margin-top: 1.1%;
    margin-left: 1%;
    display: flex;
    border: 2px solid black;
    background-color: #a8d741;
    border-radius: 40px;
    -webkit-border-radius:40px;
    -moz-border-radius:40px;
    -ms-border-radius:40px;
    -o-border-radius:40px;
}
.getstart{
    padding: 4%;
    font-size: 130%;
    margin: 4%;
    border: none;
    color: black;
    background-color: #a8d741;
}

.bntn button:hover{
    box-shadow: grey;
    cursor: pointer;
    box-shadow: 5px 10px 18px #888888;
    transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    border: 2px solid black;
    color: black;
    background-color: white;
    transition: 0.7s;
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
    -ms-transition: 0.7s;
    -o-transition: 0.7s;
}
.iccoo{
    font-size: 180%;
    margin-top: 7%;
}
.main{
    width: 85%;
    margin-top: 3%;
    margin-left: 7%;
    padding: 6% 0%;
    border: 1px solid #a8d741;
    background-color: #a8d741;
    text-align: center;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
.main p{
    font-size: 230%;
}
.main h1{
    font-size: 450%;
    font-family: 'Courier New', Courier, monospace;
}
.main button{
    padding: 1.5%;
    width: 15%;
    border: 2px solid white;
    color: white;
    background-color: black;
    border-radius: 40px;
    font-size: 125%;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}
.main button:hover{
    box-shadow: grey;
    cursor: pointer;
    box-shadow: 5px 10px 18px #888888;
    transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    border: 2px solid black;
    color: black;
    background-color: white;
    transition: 0.7s;
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
    -ms-transition: 0.7s;
    -o-transition: 0.7s;
}
.main h3{
    text-decoration: underline;
}
.main span{
  padding-bottom: 10%;
}
